101 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
{
  POPUP "&File"
  {
    POPUP "&Load ROM..."
    {
      MENUITEM "Load &MasterSystem ROM\t(Ctrl+M)",  40089
      MENUITEM "Load G&ameGear ROM\t(Ctrl+A)",  40088
      MENUITEM "Load &Genesis / 32X ROM\t(Ctrl+G)",  40004
      MENUITEM "Load Sega&CD Image\t(Ctrl+C)",  40049
    }
    POPUP "ROM History\t(Ctrl+Alt+L)"
    {
      MENUITEM "[Empty]",  40241
      MENUITEM "[Empty]",  40242
      MENUITEM "[Empty]",  40243
      MENUITEM "[Empty]",  40244
      MENUITEM "[Empty]",  40245
      MENUITEM "[Empty]",  40246
      MENUITEM "[Empty]",  40247
      MENUITEM "[Empty]",  40248
      MENUITEM "[Empty]",  40249
      MENUITEM "[Empty]",  40250
      MENUITEM "[Empty]",  40251
      MENUITEM "[Empty]",  40252
      MENUITEM "[Empty]",  40253
      MENUITEM "[Empty]",  40254
      MENUITEM "[Empty]",  40255
      MENUITEM "[Empty]",  40256
      MENUITEM SEPARATOR
      MENUITEM "Clear ROM History",  40257
    }
    MENUITEM SEPARATOR
    POPUP "Load / Save State..."
    {
      MENUITEM "Load State\t(F8)",  40050
      MENUITEM "Save State\t(F5)",  40051
      POPUP "Change State Slot\t(F6-F7)"
      {
        MENUITEM "0",  40052
        MENUITEM "1",  40053
        MENUITEM "2",  40054
        MENUITEM "3",  40055
        MENUITEM "4",  40056
        MENUITEM "5",  40057
        MENUITEM "6",  40058
        MENUITEM "7",  40059
        MENUITEM "8",  40060
        MENUITEM "9",  40061
      }
      MENUITEM SEPARATOR
      MENUITEM "Load State As...\t(Shift+F8)",  40002
      MENUITEM "Save State As...\t(Shift+F5)",  40003
    }
    MENUITEM SEPARATOR
    MENUITEM "Power O&n / Hard Reset\t(Tab)",  40092
    MENUITEM "Power &Off\t(Shift+Tab)",  40039
    MENUITEM "&Soft Reset\t(Ctrl+Tab)",  40010
    MENUITEM SEPARATOR
    POPUP "Netplay"
    {
      MENUITEM "Join Netplay Game",  40258
      MENUITEM "Start Netplay Game",  40259
      MENUITEM "Exit Netplay Game",  40260
    }
    MENUITEM SEPARATOR
    MENUITEM "&Boot SegaCD\t(Ctrl+B)",  40009
    MENUITEM "&Game Genie / PAR\t(Alt+G)",  40065
    MENUITEM SEPARATOR
    MENUITEM "Save Screenshot\t(Shift+F12)",  40238
    MENUITEM SEPARATOR
    POPUP "RAM Cart..."
    {
      MENUITEM "Load RAM Cart",  40035
      MENUITEM "Create New RAM Cart",  40036
    }
    MENUITEM SEPARATOR
    MENUITEM "E&xit",  40005
  }
  POPUP "&Video"
  {
    MENUITEM SEPARATOR
  }
  POPUP "&Sound"
  {
    MENUITEM "Disable Sound",  40182
    MENUITEM SEPARATOR
    POPUP "Frequency (Hz)"
    {
      MENUITEM "22050Hz\t(F9)",  40001
      MENUITEM "44100Hz\t(F10)",  40015
    }
    MENUITEM SEPARATOR
    MENUITEM "SuperHQ\t(F11)",  40046
    MENUITEM SEPARATOR
    MENUITEM "Filter\t(Ctrl+F11)",  40265
    MENUITEM "Overdrive\t(Ctrl+F12)",  40038
  }
  POPUP "&Options"
  {
    MENUITEM "Settings...",  40033
    MENUITEM SEPARATOR
    POPUP "&Country / Region"
    {
      MENUITEM "&USA (Americas)\t(F1)",  40006
      MENUITEM "&JAP (Asia)\t(F2)",  40007
      MENUITEM "&EUR (Europe)\t(F3)",  40008
      MENUITEM SEPARATOR
      MENUITEM "&Auto Detect\t(F4)",  40034
      POPUP "Preferred Order"
      {
        MENUITEM "USA -> EUR -> JAP",  40040
        MENUITEM "USA -> JAP -> EUR",  40041
        MENUITEM "EUR -> USA -> JAP",  40042
        MENUITEM "EUR -> JAP -> USA",  40043
        MENUITEM "JAP -> USA -> EUR",  40044
        MENUITEM "JAP -> EUR -> USA",  40045
      }
    }
    POPUP "CD &Drive"
    {
      MENUITEM "None",  40016
      MENUITEM "1",  40017
      MENUITEM "2",  40018
      MENUITEM "3",  40019
      MENUITEM "4",  40020
      MENUITEM "5",  40021
      MENUITEM "6",  40022
      MENUITEM "7",  40023
      MENUITEM "8",  40024
      MENUITEM "9",  40025
      MENUITEM "10",  40026
      MENUITEM "11",  40027
      MENUITEM "12",  40028
      MENUITEM "13",  40029
      MENUITEM "14",  40030
      MENUITEM "15",  40031
    }
    MENUITEM SEPARATOR
    POPUP "Log..."
    {
      MENUITEM "Log AVI File (Video)",  40278
      MENUITEM SEPARATOR
      MENUITEM "Log WAV File (Audio)\t(Ctrl+W)",  40067
      MENUITEM "Log VGM File (Audio)\t(Ctrl+V)",  40095
    }
    MENUITEM SEPARATOR
    MENUITEM "Perfect Sync\t(Ctrl+P)",  40032
    MENUITEM "Show FPS\t(Ctrl+F)",  40063
    MENUITEM "Show SegaCD LEDs\t(Ctrl+L)",  40064
    MENUITEM "Use Alternate Timing\t(Ctrl+T)",  40091
    MENUITEM "Sleep While Waiting\t(Ctrl+S)",  40225
    MENUITEM "High Priority",  40235
    MENUITEM SEPARATOR
    MENUITEM "Messenger Status (MSN)",  40382
    MENUITEM SEPARATOR
    MENUITEM "Pause Emulation\t(Pause)",  40267
    MENUITEM "Frame Advance\t(Insert)",  40271
    MENUITEM "Fast Forward\t(Backspc)",  40233
    MENUITEM SEPARATOR
    MENUITEM "Enable SC3000 Keyboard",  40383
    MENUITEM "Disable Key Shortcuts",  40234
  }
  POPUP "&Help"
  {
    MENUITEM "&About",  40037
  }
}
