114 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
{
  POPUP "&Video"
  {
    POPUP "Window Size",  INACTIVE
    {
      MENUITEM "0",  40110
      MENUITEM "1",  40111
      MENUITEM "2",  40112
      MENUITEM "3",  40113
      MENUITEM "4",  40114
      MENUITEM "5",  40115
      MENUITEM "6",  40116
      MENUITEM "7",  40117
      MENUITEM "8",  40118
      MENUITEM "9",  40119
      MENUITEM "10",  40120
      MENUITEM "11",  40121
      MENUITEM "12",  40122
      MENUITEM "13",  40123
      MENUITEM "14",  40124
      MENUITEM "15",  40125
    }
    POPUP "Full Screen Resolution"
    {
      MENUITEM "0",  40281
      MENUITEM "1",  40282
      MENUITEM "2",  40283
      MENUITEM "3",  40284
      MENUITEM "4",  40285
      MENUITEM "5",  40286
      MENUITEM "6",  40287
      MENUITEM "7",  40288
      MENUITEM "8",  40289
      MENUITEM "9",  40290
      MENUITEM "10",  40291
      MENUITEM "11",  40292
      MENUITEM "12",  40293
      MENUITEM "13",  40294
      MENUITEM "14",  40295
      MENUITEM "15",  40296
      MENUITEM "16",  40297
      MENUITEM "17",  40298
      MENUITEM "18",  40299
      MENUITEM "19",  40300
      MENUITEM "20",  40301
      MENUITEM "21",  40302
      MENUITEM "22",  40303
      MENUITEM "23",  40304
      MENUITEM "24",  40305
      MENUITEM "25",  40306
      MENUITEM "26",  40307
      MENUITEM "27",  40308
      MENUITEM "28",  40309
      MENUITEM "29",  40310
      MENUITEM "30",  40311
      MENUITEM "31",  40312
      MENUITEM "32",  40313
      MENUITEM "33",  40314
      MENUITEM "34",  40315
      MENUITEM "35",  40316
      MENUITEM "36",  40317
      MENUITEM "37",  40318
      MENUITEM "38",  40319
      MENUITEM "39",  40320
      MENUITEM "40",  40321
      MENUITEM "41",  40322
      MENUITEM "42",  40323
      MENUITEM "43",  40324
      MENUITEM "44",  40325
      MENUITEM "45",  40326
      MENUITEM "46",  40327
      MENUITEM "47",  40328
    }
    MENUITEM SEPARATOR
    MENUITEM "Full Screen\t(ESC)",  40047
    MENUITEM "&VSync\t(SHIFT-ESC)",  40179
    MENUITEM SEPARATOR
    POPUP "Video Filters"
    {
      MENUITEM "&Normal\t(ALT-6)",  40176
      MENUITEM "Nearest Multiple\t(SHIFT-9)",  40277
      MENUITEM "&Filtered (Blur)\t(ALT-0)",  40102
      MENUITEM "Brighten\t(CTRL-0)",  40261
      MENUITEM "&TV Mode (RF)\t(ALT-7)",  40178
      MENUITEM "TV Mode (CVBS)\t(ALT-8)",  40237
      POPUP "Scanlines"
      {
        MENUITEM "Scanlines 100%\t(ALT-1)",  40177
        MENUITEM "Scanlines 75%\t(ALT-2)",  40098
        MENUITEM "Scanlines 50%\t(ALT-3)",  40099
        MENUITEM "Scanlines 25%\t(ALT-4)",  40100
        MENUITEM "Scanlines 0%\t(ALT-5)",  40223
      }
    }
    POPUP "Render Plugin"
    {
      MENUITEM "[Empty]",  40329,  GRAYED
      MENUITEM "[Empty]",  40330,  GRAYED
      MENUITEM "[Empty]",  40331,  GRAYED
      MENUITEM "[Empty]",  40332,  GRAYED
      MENUITEM "[Empty]",  40333,  GRAYED
      MENUITEM "[Empty]",  40334,  GRAYED
      MENUITEM "[Empty]",  40335,  GRAYED
      MENUITEM "[Empty]",  40336,  GRAYED
      MENUITEM "[Empty]",  40337,  GRAYED
      MENUITEM "[Empty]",  40338,  GRAYED
      MENUITEM "[Empty]",  40339,  GRAYED
      MENUITEM "[Empty]",  40340,  GRAYED
      MENUITEM "[Empty]",  40341,  GRAYED
      MENUITEM "[Empty]",  40342,  GRAYED
      MENUITEM "[Empty]",  40343,  GRAYED
      MENUITEM "[Empty]",  40344,  GRAYED
      MENUITEM "[Empty]",  40345,  GRAYED
      MENUITEM "[Empty]",  40346,  GRAYED
      MENUITEM "[Empty]",  40347,  GRAYED
      MENUITEM "[Empty]",  40348,  GRAYED
      MENUITEM "[Empty]",  40349,  GRAYED
      MENUITEM "[Empty]",  40350,  GRAYED
      MENUITEM "[Empty]",  40351,  GRAYED
      MENUITEM "[Empty]",  40352,  GRAYED
      MENUITEM "[Empty]",  40353
      MENUITEM "[Empty]",  40354
      MENUITEM "[Empty]",  40355
      MENUITEM "[Empty]",  40356
      MENUITEM "[Empty]",  40357
      MENUITEM "[Empty]",  40358
      MENUITEM "[Empty]",  40359
      MENUITEM "[Empty]",  40360
      MENUITEM "[Empty]",  40361
      MENUITEM "[Empty]",  40362
      MENUITEM "[Empty]",  40363
      MENUITEM "[Empty]",  40364
      MENUITEM "[Empty]",  40365
      MENUITEM "[Empty]",  40366
      MENUITEM "[Empty]",  40367
      MENUITEM "[Empty]",  40368
      MENUITEM "[Empty]",  40369
      MENUITEM "[Empty]",  40370
      MENUITEM "[Empty]",  40371
      MENUITEM "[Empty]",  40372
      MENUITEM "[Empty]",  40373
      MENUITEM "[Empty]",  40374
      MENUITEM "[Empty]",  40375
      MENUITEM "[Empty]",  40376
    }
    MENUITEM SEPARATOR
    POPUP "Video Aspect"
    {
      MENUITEM "Fixed Aspect (Fit)\t(ALT-9)",  40181
      MENUITEM "Fixed Aspect (Zoom)\t(CTRL-9)",  40236
      MENUITEM "Use NTSC Aspect\t(SHIFT-0)",  40273
    }
    MENUITEM SEPARATOR
    MENUITEM "Auto Mode Switching",  40239
  }
}
